.feature {
    margin-bottom: 10rem;
    &-list {
        margin-top: 12rem;
        display: grid;
        margin-left: auto;
        margin-right: auto;
        grid-template-columns: repeat(auto-fit, minmax(30rem,1fr));
        grid-gap: 10rem 5rem;
        @include repons(479px) {
            grid-row-gap: 5rem;
            width: 85%;
        }
    }
    &-item {
        display: flex;
        align-items: flex-start;
        &-content {
            h3 {
                color : $title-color;
                margin-bottom: 2rem;
                text-transform: uppercase;
                font-size: 1.5rem;
                font-weight: 500;
            }
        }
        &-icon {
            color : $gray-dark-color;
            margin-right: 2rem;
            font-size: 3.5rem;
        }
    }
}
.unique {
    background-image :linear-gradient(rgba(#fff,0.7),rgba(#fff,0.7)), url('../images/feature-Bg.png');
    background-position : center;
    background-size : cover;
    position: relative;

    height: 85rem;
    &-img {
        
        &-ipad {
            position: absolute;
            bottom: 0;
            left: 46%;
            transform: translateX(-50%);
        }
        &-iphone {
            position: absolute;
            bottom: -9.1rem;
            left: 54%;
        }
        @include repons(768px) {
            &-ipad,
            &-iphone {
                height: 55%;
            }
        }
    }
    @include repons(1024px) {
        height: 90rem;
    }
    
    @include repons(768px) {
        height: 70rem;

    }
}